<!-- <app-menubar></app-menubar>
<div class="layout-main" spinner>
  <div class="layout-content">
    <router-outlet></router-outlet>
  </div>
</div> -->
<!-- <app-select-vendor></app-select-vendor> -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Project3</title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css">

</head>

<body style="margin: 0;padding: 0;">
  <header>
    <!-- <div style="    font-size: 4em;
    font-weight: bold ;
    background: linear-gradient(#445FD2, #212125);">
      <nav>
        <div style="text-align:right; font-size: 28px;">
          <a routerLink="/document">document</a> |
          <a routerLink="/mainpage">mainpage</a> |
          <a routerLink="/shopping">shopping</a>|
          <a routerLink="/Comparison">Comparison</a>
        </div>
      </nav>
    </div> -->
    <!-- <digi-menu-new></digi-menu-new> -->
  </header>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
  <router-outlet></router-outlet>
</body>

</html>


<!-- <digi-menu></digi-menu>
<div class="layout-main"
     spinner>
  <div class="layout-content">
    <router-outlet></router-outlet>
  </div>
</div> -->
