<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project3</title>


</head>

<body>


    <!--Document page-->

    <!--  Navbar block -->
    <div class="background1">
        <!--  navbar -->
        <digi-menu></digi-menu>

        <div class="document">
            <div class="doc">
                <p>Document</p>
            </div>

            <div class="describe">
                <p>
                    Get to know more about
                    the top providers
                </p>
            </div>

        </div>
    </div>

    <!-- content part  -->
    <div class="background2">
        <div id="quest" class="card-container">
            <!--Question text-->
            <div class="question block text-center py-2 ">AWS vs Azure vs GCP: which one
                is better ?
            </div>

            <!-- Content -->
            <div class="card">

                <div class="info card-container justify-content-start">

                    <!--Web version of left scrollspy topic-->
                    <div id="list-example " class="menu mr-4  .d-none .d-lg-block .d-xl-none">
                        <div id="list-example" class="menu .d-none .d-lg-block .d-xl-none">

                            <a class="list-group-item list-group-item-action" href="./document#overview">Overview</a>
                            <a class="list-group-item list-group-item-action" href="./document#amazon">Amazon Web
                                Services</a>
                            <a class="list-group-item list-group-item-action" href="./document#azure">Azure</a>
                            <a class="list-group-item list-group-item-action" href="./document#google">Google Cloud
                                Platform</a>
                            <a class="list-group-item list-group-item-action"
                                href="./document#comparison">Comparison</a>
                        </div>

                    </div>

                    <!-- mobile version of scrollspy topic -->

                    <div class="mobile_navbar_div  ">
                        <nav class="navbar mobile_navbar  navbar-collapse-center ">

                            <ul class="nav nav-pills navbar-center ">
                                <li class="nav-item">
                                    <a class="nav-link" href="./document#overview">Overview</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./document#amazon">Amazon Web Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./document#azure">Azure</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./document#google">Google Cloud</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./document#comparison">Comparison</a>
                                </li>
                            </ul>

                        </nav>
                    </div>

                    <!--Scrollspy details-->
                    <div class="ex3">
                        <div id="overview" class="detail justify-content-around flex card-container">
                            <img class="overview_graph" width="65%" height="auto"
                                src="https://miro.medium.com/max/700/1*HL561dzKR6rN545v1LKjKA.png">
                        </div>

                        <!--Overview-->
                        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                            class="detail" tabindex="0">
                            <h1 style="margin-top: 10px ;">Overview</h1>
                            <p class="content" style="margin-top: 10px ;">Cloud computing essentially refers to a
                                computing environment that delivers
                                software, infrastructure, and platform services to any enterprise.</p>
                            <p class="content">In the digital age, where cost efficiency, scalability, agility,
                                streamlined business
                                processes,
                                and delivery of innovative services and products determine winners and losers, cloud
                                migration
                                has become a necessity for companies looking to gain a competitive edge. As such,
                                businesses
                                are
                                moving away from on-premises (data centers, servers/hardware, outdated IT
                                infrastructure)
                                and
                                its accompanying costs (e.g., application licensing fees and maintenance).</p>
                            <p class="content">According to Faddom’s Cloud Vision, it is reported that in 2022 and 2023,
                                63% of
                                companies
                                will
                                move the majority of their infrastructure to the cloud. With 60% of IT digital managers
                                reporting that the cloud delivered sustainable growth, this comes as no surprise.</p>

                            <!--Amazon logo-->
                            <div id="amazon" class="logo justify-content-around flex card-container indigo-container">
                                <img width="40%" height="auto" class="AWS_logo"
                                    src="https://logos-world.net/wp-content/uploads/2021/08/Amazon-Web-Services-Logo-2006-2017.png">
                            </div>

                            <!--Amazon description-->
                            <h1 style="margin-bottom: 20px ;">Amazon Web Services</h1>
                            <p class="content" style="margin-top: 10px ;">Amazon Web Services (AWS) is provided by
                                Amazon. It was
                                launched in
                                2006
                                and
                                was one of the first companies to introduce a cloud computing model that was
                                pay-as-you-go
                                and
                                that provided users with computing, storage or throughput as required. The Amazon Web
                                Services
                                portfolio has more than services, including compute, databases, infrastructure
                                management,
                                application development, and security. AWS cloud computing is a good choice of a
                                scalable
                                and
                                extremely reliable infrastructure platform in the cloud.
                            </p>
                            <!--Azure logo-->
                            <div id="azure" class="logo justify-content-around flex card-container indigo-container">
                                <img width="40%" height="auto" class="picture"
                                    src="https://www.artifakt.com/content/uploads/2021/09/Microsoft-Azure-Logo-1.png">
                            </div>
                            <!--Azure description-->
                            <h1>Microsoft Azure</h1>
                            <p class="content">A cloud computing software was launched by Microsoft in 2010 and was
                                formerly known as
                                Windows
                                Azure. It provides a large range of cloud services, including those for compute,
                                analytics,
                                storage, and networking. Microsoft Azure Cloud offers a large range of products and
                                solutions,
                                similar to AWS. Unlike AWS, Azure focuses on data centers and in turn, the Azure
                                platform
                                works
                                hard to interoperate with data centers.
                            </p>
                            <!--GCP logo-->
                            <div id="google" class="logo justify-content-around flex card-container indigo-container">
                                <img width="40%" height="auto" class="picture"
                                    src="https://logos-world.net/wp-content/uploads/2021/02/Google-Cloud-Logo.png">
                            </div>

                            <!--GCP description-->
                            <h1>Google Cloud Platform</h1>
                            <p class="content">Google Cloud Platform is a suite of cloud computing services, offered by
                                Google, that
                                functions
                                on the same infrastructure that Google uses internally, such as Google Search and
                                YouTube.
                                It
                                was launched in 2008. Google Cloud Platform specializes in offerings like big data,
                                machine
                                learning, and analytics. It also offers considerable scale and load balancing – Google
                                understands data centers and fast response time.</p>

                            <!--comparison-->
                            <h1 id="comparison">Comparison Summary</h1>

                            <!--  Comparison bootstrap original version  -->
                            <div class="container">
                                <div class="row">
                                    <div id="no-more-tables" style=" font-size: large;  ">
                                        <table class="table col-md-12 table-bordered table-striped table-condensed cf">
                                            <thead class="cf table_header " style=" height: 0px;">
                                                <tr>
                                                    <th></th>
                                                    <th>AWS</th>
                                                    <th>Azure</th>
                                                    <th>GCP</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-title="Type">Basic Compute</td>
                                                    <td data-title="AWS">Mature Catalog,
                                                        Functionally Rich
                                                        (<a target="_blank" href="https://aws.amazon.com/ec2/">EC2</a>,
                                                        <a target="_blank" href="https://aws.amazon.com/ecs/">ECS</a>
                                                        and
                                                        <a target="_blank" href="https://aws.amazon.com/eks/">EKS</a>
                                                        containers)
                                                    </td>
                                                    <td data-title="Azure">Diverse Catalog
                                                        (<a target="_blank"
                                                            href="https://azure.microsoft.com/en-us/services/virtual-machines/">Virtual
                                                            Machines</a>, open source
                                                        <a target="_blank"
                                                            href="https://azure.microsoft.com/en-us/services/kubernetes-service/">
                                                            AKS</a> containers)
                                                    </td>
                                                    <td data-title="GCP">Growing Catalog
                                                        (<a target="_blank"
                                                            href="https://cloud.google.com/compute">Compute
                                                            Engine</a>,
                                                        <a target="_blank"
                                                            href="https://cloud.google.com/kubernetes-engine">Kubernetes
                                                            Engine</a>)
                                                    </td>

                                                <tr>
                                                    <!--  General Network  -->
                                                    <td data-title="Code">General Network</td>
                                                    <td data-title="AWS">Speedy, Dedicated Connection
                                                        (<a target="_blank"
                                                            href="https://aws.amazon.com/directconnect/">AWS Direct
                                                            Connect</a>)</td>
                                                    <td data-title="Azure">Broad and Flexible
                                                        (<a target="_blank"
                                                            href="https://azure.microsoft.com/en-us/services/virtual-network/">Azure
                                                            Virtual
                                                            Network</a>)</td>
                                                    <td data-title="GCP">Most Limited
                                                        (<a target="_blank"
                                                            href="https://cloud.google.com/hybrid-connectivity/">Cloud
                                                            Hybrid
                                                            Connectivity</a>)</td>

                                                </tr>

                                                <!--  storage   -->
                                                <tr>
                                                    <td data-title="Type">Storage</td>
                                                    <td data-title="AWS">Largest Range
                                                        (<a target="_blank" href="https://aws.amazon.com/s3/">S3 Object
                                                            Storage</a>, plus
                                                        block, file, and hybrid storage)</td>
                                                    <td data-title="Azure">Medium-Large Range
                                                        (<a target="_blank"
                                                            href="https://azure.microsoft.com/en-us/services/storage/blobs/">Azure
                                                            Blob
                                                            Storage</a>, plus <a target="_blank"
                                                            href="https://azure.microsoft.com/en-us/solutions/data-lake/">Data
                                                            Lake</a>, file
                                                        and hybrid storage)</td>
                                                    <td data-title="GCP">Basic
                                                        (<a target="_blank"
                                                            href="https://cloud.google.com/storage">Cloud Storage</a>)
                                                    </td>

                                                </tr>

                                                <!--Databases-->
                                                <tr>
                                                    <td data-title="Type">Databases</td>
                                                    <td data-title="AWS"> Mid-Sized Range
                                                        (<a target="_blank"
                                                            href="https://aws.amazon.com/rds/">SQL-supported</a> and
                                                        <a target="_blank"
                                                            href="https://aws.amazon.com/dynamodb/">non-SQL</a>)
                                                    </td>
                                                    <td data-title="Azure"> Largest Range
                                                        (<a target="_blank"
                                                            href="https://azure.microsoft.com/en-us/products/azure-sql/database/">SQL-supported</a>
                                                        and
                                                        <a target="_blank"
                                                            href="https://azure.microsoft.com/en-us/services/cosmos-db/">non-SQL</a>,
                                                        plus
                                                        hybrid)
                                                    </td>
                                                    <td data-title="GCP"> Mid-Sized Range
                                                        (<a target="_blank"
                                                            href="https://cloud.google.com/sql/">SQL-supported</a> and
                                                        <a target="_blank"
                                                            href="https://cloud.google.com/datastore/">non-SQL</a>)
                                                    </td>

                                                </tr>

                                                <!--Security-->
                                                <tr>
                                                    <td data-title="Type">Security</td>
                                                    <td data-title="AWS"> Mature, Isolated (offers firewalls, granular
                                                        IAM, and vulnerability
                                                        assessment)</td>
                                                    <td data-title="Azure"> Largest Gaps (separate protocols, plus
                                                        less-secure defaults)</td>
                                                    <td data-title="GCP"> Reliable Midpoint (centralized access through
                                                        <a target="_blank"
                                                            href="https://cloud.google.com/security-command-center">Cloud
                                                            Security Command
                                                            Center)</a>
                                                    </td>

                                                </tr>
                                                <!--Machine Learning -->
                                                <tr>
                                                    <td data-title="Type">Storage</td>
                                                    <td data-title="AWS"> <a target="_blank" class="block"
                                                            href="https://aws.amazon.com/sagemaker/">SageMaker
                                                            AML</a>
                                                        <br>
                                                        <a target="_blank" class="block"
                                                            href="https://aws.amazon.com/mxnet/">Apache MXnet on AWS</a>
                                                        <br>
                                                        <a target="_blank"
                                                            href="https://aws.amazon.com/tensorflow/">Tensorflow on
                                                            AWS</a>
                                                    </td>
                                                    <td data-title="Azure"><a target="_blank" class="block"
                                                            href="https://azure.microsoft.com/en-us/services/machine-learning/">Machine
                                                            Learning</a></td>
                                                    <td data-title="GCP"> <a target="_blank" class="block"
                                                            href="https://cloud.google.com/vertex-ai">Cloud
                                                            Machine Learning Engine</a></td>

                                                </tr>
                                                <!--Cognitive Services -->
                                                <tr>
                                                    <td data-title="Type">Cognitive Services</td>
                                                    <td data-title="AWS">
                                                        <a target="_blank" class="block"
                                                            href="https://aws.amazon.com/comprehend/">Comprehend</a>
                                                        <br>
                                                        <a target="_blank" class="block"
                                                            href="https://aws.amazon.com/lex/">Lex</a>
                                                        <br>
                                                        <a target="_blank"
                                                            href="https://aws.amazon.com/polly/">Polly</a>

                                                        <br>
                                                        <a target="_blank" class="block"
                                                            href="https://aws.amazon.com/rekognition/">Rekognition</a>
                                                        <br>
                                                        <a target="_blank"
                                                            href="https://aws.amazon.com/translate/">Translate</a>
                                                        <br>
                                                        <a target="_blank"
                                                            href="https://aws.amazon.com/transcribe/">Transcribe</a>
                                                    </td>
                                                    <td data-title="Azure"> <a target="_blank" class="block"
                                                            href="https://azure.microsoft.com/en-us/services/cognitive-services/">Cognitive
                                                            Services</a></td>
                                                    <td data-title="GCP"> <a target="_blank" class="block"
                                                            href="https://cloud.google.com/natural-language/">Cloud
                                                            Natural Language</a>
                                                        <a target="_blank" class="block"
                                                            href="https://cloud.google.com/speech-to-text/">Cloud Speech
                                                            API</a>
                                                        <a target="_blank" class="block"
                                                            href="https://cloud.google.com/translate/">Cloud Translation
                                                            API</a>
                                                        <a target="_blank" class="block"
                                                            href="https://cloud.google.com/video-intelligence/">Cloud
                                                            Video
                                                            Intelligence</a>
                                                    </td>

                                                </tr>

                                                <!--IoT-->
                                                <tr>
                                                    <td data-title="Type">IoT</td>
                                                    <td data-title="AWS"> Largest Provider
                                                        (<a target="_blank"
                                                            href="https://aws.amazon.com/iot-core/?nc=sn&loc=0">IoT
                                                            Core</a> and
                                                        Alexa-based services)</td>
                                                    <td data-title="Azure"> Smaller, but Targeted
                                                        (<a target="_blank"
                                                            href="https://azure.microsoft.com/en-us/services/iot-edge/">IoT
                                                            Edge</a>
                                                        -based services)</td>
                                                    <td data-title="GCP"> Emerging
                                                        (<a target="_blank"
                                                            href="https://cloud.google.com/iot-core">Cloud IoT
                                                            Core</a>-based
                                                        services)</td>

                                                </tr>
                                                <!--Training-->
                                                <tr>
                                                    <td data-title="Type">Training</td>
                                                    <td data-title="AWS"> <a target="_blank"
                                                            href="https://aws.amazon.com/training/">Training and
                                                            Certification</a></td>
                                                    <td data-title="Azure"> <a target="_blank"
                                                            href="https://docs.microsoft.com/en-us/learn/azure/">Training</a>
                                                    </td>
                                                    <td data-title="GCP"> <a target="_blank"
                                                            href="https://cloud.google.com/training/class-schedule">Training
                                                            Program</a></td>

                                                </tr>
                                                <!--Analytic & Big Data-->
                                                <tr>
                                                    <td data-title="Type">Analytic & Big Data</td>
                                                    <td data-title="AWS"> Medium-High Powered
                                                        (<a target="_blank"
                                                            href="https://aws.amazon.com/big-data/datalakes-and-analytics/">AWS
                                                            Analytics</a>, SQL support, open standard APIs)
                                                    </td>
                                                    <td data-title="Azure"> Most Powerful
                                                        (<a target="_blank"
                                                            href="https://azure.microsoft.com/en-us/services/stream-analytics/">Azure
                                                            Stream Analytics</a>, SQL support, machine learning)</td>
                                                    <td data-title="GCP"> Strength in Advanced Analytics
                                                        (<a target="_blank"
                                                            href="https://cloud.google.com/solutions/smart-analytics">Google
                                                            Cloud
                                                            Platform</a> Analytics and data analytics)</td>

                                                </tr>
                                                <!--AI-->
                                                <tr>
                                                    <td data-title="Type">AI</td>
                                                    <td data-title="AWS"> Largest Provider (mature services)</td>
                                                    <td data-title="Azure"> Medium-Large Provider (proven platforms)
                                                    </td>
                                                    <td data-title="GCP"> Pioneer, Large Provider (multiple AI and ML
                                                        tools)</td>

                                                </tr>


                                                <tr>
                                                    <td data-title="Type">Storage</td>
                                                    <td data-title="AWS">AUSENCO LIMITED</td>
                                                    <td data-title="Azure">$4.00</td>
                                                    <td data-title="GCP">-0.04</td>

                                                </tr>

                                                <!--Region-->
                                                <tr>
                                                    <td data-title="Type">Region</td>
                                                    <td data-title="AWS"> 26
                                                        <a target="_blank"
                                                            href="https://aws.amazon.com/about-aws/global-infrastructure/?nc2=h_l2_cc">(more)</a>
                                                    </td>
                                                    <td data-title="Azure"> 60+
                                                        <a target="_blank"
                                                            href="https://azure.microsoft.com/en-gb/global-infrastructure/geographies/#overview">(more)</a>
                                                    </td>
                                                    <td data-title="GCP"> 25
                                                        <a target="_blank"
                                                            href="https://cloud.google.com/compute/docs/regions-zones">(more)</a>
                                                    </td>

                                                </tr>

                                                <!--Availability Zones-->
                                                <tr>
                                                    <td data-title="Type">Availability Zones</td>
                                                    <td data-title="AWS">84</td>
                                                    <td data-title="Azure">At least 3 per region</td>
                                                    <td data-title="GCP">76</td>

                                                </tr>


                                                <!--Global Coverage-->
                                                <tr>
                                                    <td data-title="Type">Global Coverage</td>
                                                    <td data-title="AWS">245 countries & territories</td>
                                                    <td data-title="Azure">140 countries</td>
                                                    <td data-title="GCP">Over 200 countries & territories</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>

</html>
