<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project3</title>

    <!--link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"-->
    <!--link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"-->

</head>

<body>


    <!--Background home page-->

    <div class="home-background">
        <div>
            <digi-menu></digi-menu>
        </div>


        <div class="box">

            <!--welcom-->
            <h1>Welcome to Caloudi</h1>

            <!--welcome detail-->
            <h3 class="space">Platform and partner for Digital Transformation</h3>

            <!--start button-->
            <a aria-label="started" target="_self" rel="noopener" [routerLink]="['/mainpage']"
                routerLinkActive="active">
                <button pButton type="button" label="Get Started !" class="p-button-success"></button>
            </a>

        </div>

        <!--div class="k">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/A_star.png">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/A_star.png">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/A_star.png">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/A_star.png">
        </div-->

    </div>


    <script src="./particles.js"></script>
    <script src="./app.js"></script>
</body>

</html>